---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(storeId=2740)?apiKey=ru99w3xp6qu5848qvbgrznxq&format=json&show=longName,address,city,region,postalCode,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 1,
          "total": 1,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.007",
          "totalTime": "0.011",
          "partial": false,
          "canonicalUrl": "/v1/stores(storeId=2740)?show=longName,address,city,region,postalCode,storeType&format=json&apiKey=ru99w3xp6qu5848qvbgrznxq",
          "stores": [
            {
              "longName": "Best Buy Mobile - Cherry Creek Shopping Center",
              "address": "3000 East First Ave",
              "city": "Denver",
              "region": "CO",
              "postalCode": "80206",
              "storeType": "Mobile"
            }
          ]
        }
  recorded_at: Tue, 20 Sep 2016 16:58:22 GMT
recorded_with: VCR 3.0.3
